.second {
  height: 25vh;
}

.fifth {
  width:100px
}

.fifth_second {
  height: calc(100% - 48px);
}

.sixth {
  display: flex;
  align-items: center;
  font-size: 12px;
  background: #9fa062;
  width: 100px;
  height: 100px;
  padding: 2%;
  margin: 2%;
}

.eighth {
  width: 300px;
  height: 300px;
}

.ninth {
  width: 100px;
  height: 100px;
}

.ninth_second {
  width: 300px;
  height: 300px;
}